:root {
    --text-color: #000;
    --item-bg: #f0f0f0; 
    --primary-color: #007bff; 
}

.dark-mode {
    --text-color: #fff; 
    --container-bg: #1a1a1a;
    --item-bg: #333;
}

.portfolio-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--container-bg);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

.portfolio-container h1 {
    font-size: 32px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-container p {
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 20px;
    text-align: center; 
    color: var(--text-color);
    font-weight: 300; 
}

.theme-toggle-button {
    margin-bottom: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.theme-toggle-button:hover {
    background-color: #0056b3; 
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-card {
    background-color: var(--item-bg);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease; /* Add opacity for fade-in */
    width: 90%;
    margin: 0 auto;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    .project-content {
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .project-image {
        width: 250px;
        height: auto;
        flex-shrink: 0;
    }
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details h2 {
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.project-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.project-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #1b1b1b;
    color: var(--text-color);
}
